.bg-nav {
  background-color: rgba(10, 99, 112, 0.9);
  backdrop-filter: blur(10px);
  z-index: 1030;
}

span {
  font-family: "Gama Serif", Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  line-height: 1.4;
  font-size: 12px;
}

.title-img-nav {
  font-family: "Gama Serif", Georgia, "Times New Roman", Times, serif;
  text-transform: uppercase;
  line-height: 1.4;
  color: #f3dd00;
  font-size: 12px;
}

.nav-content {
  font-size: 16px;
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: white;
}

.link-content .nav-link {
  color: white !important;
}

.link-content .nav-link:hover {
  color: #f3dd00 !important;
}
